{% extends 'layout.twig' %}

{% block body %}
<h1>Professeurs List</h1>
<form method="post" action="http://localhost:5050/professeur/search" >
<input type="email" name="email" /><br/>
<button type="submit">Search</button>
</form>
<table border=1>
<thead>
<th>Fullname</th>
<th>Email</th>
<th>Telephone</th>
<th>Actions</th>
</thead>
<tbody>
{% for p in professeurs %}
<tr>
<td>{{p.fullname}}</td>
<td>{{p.email}}</td>
<td>{{p.telephone}}</td>
<td>
<a href="http://localhost:5050/professeur/updateProfesseur/{{p._id}}">Update</a>
<a href="http://localhost:5050/professeur/deleteProfesseur/{{p._id}}">Delete</a>
</td>
</tr>  
{% endfor %}
</tbody>
</table>
{% endblock %}
